@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body, body > #app {
  @apply h-screen;
}

body {
  background-image: radial-gradient(at 36% 0%,hsla(240,73%,56%,.2) 0px,transparent 50%),radial-gradient(at 71% 4%,hsla(330,78%,46%,.18) 0px,transparent 50%);
}

#page {
  overflow: auto;
}